*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
header{
    background: linear-gradient(135deg,#7c91f1 40%,#3a0177 60%);
    color: white;
    padding: 2 rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: opacity 0.3s;
}
nav a:hover{
    opacity: 0.8s;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1552674605-db6ffd4facb5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-container h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-container p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.cta-button{
    background-color: #ff6b35;
    color: white;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.cta-button:hover{
    background-color: rgba(21, 191, 243, 0.373);
}

.deportes-section {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

.section-title,
.section-p {
    text-align: center;
}

.cards-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.deportes {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.deportes:hover {
    transform: translateY(-10px);
}

.card-header {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.card-body {
    padding: 20px;
    font-size: 14px;
}


.futbol { background: linear-gradient(135deg,#1abc9c 40%,#16a085 60%); }
.baloncesto { background: linear-gradient(135deg,#f39c12 40%,#e67e22 60%); }
.tenis { background: linear-gradient(135deg,#3498db 40%,#2980b9 60%); }
.natacion { background: linear-gradient(135deg,#9b59b6 40%,#8e44ad 60%); }
.atletismo { background: linear-gradient(135deg,#e84393 40%,#fd79a8 60%); }
.ciclismo { background: linear-gradient(135deg,#636e72 40%,#2d3436 60%); }

@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

.estadisticas {
    background: linear-gradient(135deg, #4b6cb7 30%, #6a11cb 70%);
    padding: 60px 20px;
}

.estadisticas-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    color: white;
}

.stat h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.stat p {
    font-size: 1rem;
    opacity: 0.9;
}


.ultimas-noticias {
    padding: 60px 20px;
    text-align: center;
    background: #f9f9f9;
}

.ultimas-noticias h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}



@media (max-width: 900px) {
    .estadisticas-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .estadisticas-container {
        grid-template-columns: 1fr;
    }
}


.noticias-section {
    background: #f9f9f9;
    padding: 60px 0;
}

.noticias-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 40px;
    padding: 0 20px;
}


.noticias-barra {
    background: #2b2b2b;
    color: white;
    writing-mode: vertical-rl;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
}


.noticias-contenido h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.noticia {
    margin-bottom: 30px;
    border-left: 3px solid #4b6cb7;
    padding-left: 20px;
}

.noticia h3 {
    font-size: 1.1rem;
    color: #1a3faa;
    margin: 8px 0;
}

.noticia p {
    font-size: 14px;
    line-height: 1.6;
}

.fecha {
    font-size: 0.85rem;
    color: #777;
}


.footer-2 {
    background: #1f1f1f;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.footer-bottom{
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #555;
}

.footer-redes{
    margin-bottom: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .noticias-container {
        grid-template-columns: 1fr;
    }

    .noticias-barra {
        writing-mode: horizontal-tb;
    }
}